body{
  background-color:rgb(24, 23, 23);
}

/*########################HEAD########################*/
.header{
    background-color:rgb(24, 23, 23);
    color:#e40c3c;
    padding: 10px;
    text-align: center;
    font-size: 35px;
    font-family:'Courier New', Courier, monospace;
}
.header h1{
  margin-top: 10px;
  margin-bottom: 10px;
}

/*########################MENU########################*/
.menu {
    overflow: hidden;
  }
  
.menu a {
    float: left;
    display: block;
    color:#e40c3c;
    text-align: center;
    font-size: 25px;
    padding: 14px 16px;
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;

  }
  .menu a:hover {
    color:#e40c3c;
  }

/*########################FOOT########################*/
.footer {
  flex: 0; /* El footer ocupa solo su tamaño de contenido */
  background-color: #333; /* Color de fondo para visibilidad */
  color: white;
  text-align: center;
  padding: 10px 0;
}